// 顏色-灰階
$white: #FFFFFF;
$gray-01: #F5F5F5;
$gray-02: rgba(0, 0, 0, 0.08);
$gray-03: #DDDDDD;
$gray-04: #747474;
$black: #221E1F;

// 顏色-主色 
$blue: #56C4C5;
$red: #FF5D50;
$yellow-01: #F5CA52;
$yellow-02: #FFD153;

// 文字 font
$font-16: 16px;
$font-18: 18px;
$font-24: 24px;
